<<div  ng-controller="BioController as bio">
    <div class="form-wrapper">
        <form novalidate name="userbio" ng-submit="userbio.$valid && bio.addAddress()" class="panel panel-primary">
            <div class="panel-heading" ng-include="'/templates/form-headers/user_info_main.header.html'"></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input required ng-model="person.firstname" type="text" class="form-control" id="fname">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input required ng-model="person.lastname" type="text" class="form-control" id="lname">
                </div>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input required ng-model="person.street" type="text" class="form-control" id="street">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input required ng-model="person.city" type="text" class="form-control" id="city">
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input required ng-model="person.state" type="text" class="form-control" id="state">
                </div>
                <div class="form-group">
                    <label for="zip">Zip</label>
                    <input required ng-model="person.zip" type="text" class="form-control" id="zip">
                </div>
            </div>
            <button class="btn btn-primary pull-right" ng-click="addAddress()">Submit</button>
        </form>
    </div>
    <div ng-include="'components/verify-info/form.html'"></div>
</div>
