<div class="modal fade text-center form-wrapper" id="verify_modal">

    <div class="modal-content">
        <div class="modal-header">
            <div class="individual modal-title" ng-include="'/templates/form-headers/user_info_individual.header.html'">
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <h4 class="person-name">{{person.firstname}} {{person.lastname}}</h4>
            <section class="person-address">
                <p>{{person.street}}</p>
                <p>{{person.city}}, {{person.state}} {{person.zip}}</p>
                <cite>created on: {{person.date | date}}</cite>
            </section>

        </div>

        <div class="btn-group verification modal-footer">
            <button class="btn btn-default edit-btn" data-dismiss="modal">Edit</button>
            <button class="btn btn-primary verify-btn" ng-click="verified()">Verify</button>
        </div>
    </div>

</div>
